<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>{{rideName}}</title>
        <meta property="og:title" content="{{rideName}}" />
        <meta property="og:image" content="{{imagePath}}" />
        <meta property="og:description" content="A ride posted from Equesteo." />
        <meta property="og:url" content="{{shareLink}}">
    </head>

    <body>
        <a href="https://equesteo.com">
            <img src="{{imagePath}}"/>
        </a>
    </body>
</html>
