<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        @font-face {
            font-family: "Montserrat";
            src: url('https://s3-us-west-1.amazonaws.com/equesteo-sharable-map-assets/Montserrat-Regular.otf') format("truetype");
        }
        body { margin:0; padding:0; }
        #map { width:1080px; height:880px; }
        #header { width:1080px; height:200px; background-color: #5bc0eb}
        .stat-font { font-family: Montserrat; }
        .stat-header { font-size: 24px; text-underline: black; }
        .stat-value { font-size: 30px; }
        .stat-box { padding-top: 20px; padding-left: 35px; }
        .title {
            font-size: 40px;
            padding-left: 35px;
            padding-top: 27px;
            width: 850px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .mapbox-improve-map { display: none; }
    </style>
</head>

<body>
    <div id='main'></div>
    <div id='header'>
        <div class="stat-font" style="display: flex; flex-direction: row">
            <div>
                <img src="https://s3-us-west-1.amazonaws.com/equesteo-sharable-map-assets/logoWithName.png" style="height: 180px; padding-left: 20px; padding-top: 15px" />
            </div>

            <div style="display: flex; flex-direction: column;">
                <div class="title">{{rideName}}</div>
                <div style="display: flex; flex-direction: row;">
                    <div class="stat-box">
                        <div class="stat-header">Date</div>
                        <div class="stat-value">{{startDate}}</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-header">Distance</div>
                        <div class="stat-value">{{distance}} mi</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-header">Time</div>
                        <div class="stat-value">{{rideTime}}</div>
                    </div>
                    <div class="stat-box">
                        <div class="stat-header">Avg. Speed</div>
                        <div class="stat-value">{{avgSpeed}} mi/h</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='map'></div>
    <div style="position: absolute; left: 125px; bottom: 10px">
        <div style="display: flex; flex-direction: row">
            <div class="stat-font" style="margin-right: 10px">0 mph</div>
            <div style="width: 20px; height: 20px; background-color: #5A35DE"></div>
            <div style="width: 20px; height: 20px; background-color: #6532CD"></div>
            <div style="width: 20px; height: 20px; background-color: #712FBC"></div>
            <div style="width: 20px; height: 20px; background-color: #7D2CAB"></div>
            <div style="width: 20px; height: 20px; background-color: #88299A"></div>
            <div style="width: 20px; height: 20px; background-color: #942689"></div>
            <div style="width: 20px; height: 20px; background-color: #A02378"></div>
            <div style="width: 20px; height: 20px; background-color: #AB2066"></div>
            <div style="width: 20px; height: 20px; background-color: #B71D56"></div>
            <div style="width: 20px; height: 20px; background-color: #C31A45"></div>
            <div style="width: 20px; height: 20px; background-color: #CE1733"></div>
            <div style="width: 20px; height: 20px; background-color: #DA1423"></div>
            <div style="width: 20px; height: 20px; background-color: #E61212"></div>
            <div style="width: 20px; height: 20px; background-color: #E62317"></div>
            <div style="width: 20px; height: 20px; background-color: #E6341C"></div>
            <div style="width: 20px; height: 20px; background-color: #E74521"></div>
            <div style="width: 20px; height: 20px; background-color: #E75727"></div>
            <div style="width: 20px; height: 20px; background-color: #E7682C"></div>
            <div style="width: 20px; height: 20px; background-color: #E87931"></div>
            <div style="width: 20px; height: 20px; background-color: #E88A36"></div>
            <div style="width: 20px; height: 20px; background-color: #E89C3C"></div>
            <div style="width: 20px; height: 20px; background-color: #E9AD41"></div>
            <div style="width: 20px; height: 20px; background-color: #E9BE46"></div>
            <div style="width: 20px; height: 20px; background-color: #E9CF4B"></div>
            <div style="width: 20px; height: 20px; background-color: #EAE151"></div>
        </div>
    </div>

    <script>
    mapboxgl.accessToken = '{{ mapboxToken }}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/equesteo/cjopu37k3fm442smn4ncz3x9m',
        zoom: 15,
        preserveDrawingBuffer: true
    });

    map.on('load', function () {
        var geoJson = {{{ featureCollection }}}
        map.addLayer({
            "id": "route",
            "type": "line",
            "source": {
                "type": "geojson",
                "data": geoJson
            },
            "layout": {
                "line-join": "round",
                "line-cap": "round"
            },
            "paint": {
                "line-color": ['get', 'stroke'],
                "line-width": 8
            }
        });
        // Geographic coordinates of the LineString
        var coordinates = geoJson.features
        var firstPair = coordinates[0].geometry.coordinates[0]
        var bounds = coordinates.reduce(function(bounds, coord) {
            return bounds.extend(coord.geometry.coordinates[0]);
        }, new mapboxgl.LngLatBounds(firstPair, firstPair));

        console.log('fitting bounds')
        map.once('zoomend', function () {
            map.once('idle', function () {
                var div = document.createElement("div");
                div.id ='done'
                var found = document.getElementById("main")
                found.appendChild(div);
                console.log(document.getElementById('done').id)
            })
        })
        map.fitBounds(bounds, {
            padding: { bottom: 120, top: 100, left: 100, right: 100 },
            duration: 0,
        })
    });
    </script>

</body>
</html>
